<section>
	<carousel interval="myInterval">
	  <slide ng-repeat="slide in slides" active="slide.active">
	      <img ng-src="{$slide.image$}">
	      <div class="carousel-caption">
	          <h4>Slide {$ $index+1 $}</h4>
	      </div>
	  </slide>
	</carousel>
	<div class="container">
		<div class="row">
			<div class="col-sm-9 col-sm-push-3">
				<h1>Cursos em destaque</h1>
				<article>
					<div class="row">
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">MP RJ - TÉCNICO ADMINISTRATIVO MINISTÉRIO PÚBLICO RIO DE JANEIRO</div>
								<div class="panel-body">
									O Canal dos Concursos disponibiliza o curso Área Administrativa para Técnico do Ministério Público do Rio de Janeiro. O concurso oferece 16 vagas com remuneração inicial de R$ 4.382,84 e a banca organizadora se trata da FGV- Fundação Getúlio Vargas. Esse curso não contará com a disciplina Organi

									Sálario: R$ 4.382,84
									De R$ 399,98

									Por 12x
									R$ 16,67
									50% DE DESCONTO Tribunais Conheça
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">MP RJ - TÉCNICO ADMINISTRATIVO MINISTÉRIO PÚBLICO RIO DE JANEIRO</div>
								<div class="panel-body">
									O Canal dos Concursos disponibiliza o curso Área Administrativa para Técnico do Ministério Público do Rio de Janeiro. O concurso oferece 16 vagas com remuneração inicial de R$ 4.382,84 e a banca organizadora se trata da FGV- Fundação Getúlio Vargas. Esse curso não contará com a disciplina Organi

									Sálario: R$ 4.382,84
									De R$ 399,98

									Por 12x
									R$ 16,67
									50% DE DESCONTO Tribunais Conheça
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">Panel Heading</div>
								<div class="panel-body">Panel Content</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel panel-default">
								<div class="panel-heading">Panel Heading</div>
								<div class="panel-body">Panel Content</div>
							</div>
						</div>
					</div>
				</article>
			</div>
			<div class="col-sm-3 col-sm-pull-9">
				<aside>
					<h1>Side bar</h1>
				</aside>
			</div>
		</div>
	</div>
</section>
